@using DTB.Core.Models.Categories
@model List<CategoryViewModel>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Categories</h1>
            <p>Unlock your future with the right choice.</p>
        </div>
        <div class="row g-4">
            @foreach (var category in Model)
            {
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" style="height:360px" href="">
                        <div class="rounded p-4" style="height:326px">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="@category.PictureUrl" alt="Icon">
                            </div>
                            <h6>@category.Name</h6>
                            <span>123 Properties</span> @* Should change it when the job ads are ready *@
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>