<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Dream Team Builders</title>

    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/templatemo-villa-agency.css">
    <link rel="stylesheet" href="~/css/owl.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />


</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <ul class="info">
                        <li><i class="fa fa-envelope"></i> dreamteambuilders@gmail.com</li>
                        <li><i class="fa fa-map"></i> Sofia Studentski grad blok 4</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4">
                    <ul class="social-links">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <h1>dreamteambuilders</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="index.html" class="active">About Us</a></li>
                            <li><a href="properties.html">Articles</a></li>
                            <li><a href="property-details.html">Jobs</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="login.html"><i class="fa fa-sign-in"></i> Sign in</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner">
        <div class="owl-carousel owl-banner">
            <div class="item item-1">
                <div class="header-text">
                    <span class="category">Find A Perfect Job <em>To Live Your Dream Life</em></span>
                    <h2>
                        Finding the perfect job<br> isn't just about searching for
                        a paycheck.
                    </h2>
                </div>
            </div>
            <div class="item item-2">
                <div class="header-text">
                    <span class="category">Crafting <em>Success</em></span>
                    <h2>Job hunting is about<br> finding the right fit for your aspirations and skills.</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Searching ***** -->
    <div class="container-fluid mb-5 wow fadeIn" data-wow-delay="0.1s" style="background-color: #F1D9D4; padding: 35px;">
        <div class="container">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <input type="text" class="form-control border-0 py-3" placeholder="Search Keyword">
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0 py-3">
                                <option selected>Categories</option>
                                <option value="1">Architecture, Construction</option>
                                <option value="2">Healthcare and Pharmacy</option>
                                <option value="3">Drivers, Couriers</option>
                                <option value="4">Restaurants, Bars, Hotels, Tourism</option>
                                <option value="5">Engineers and Technicians</option>
                                <option value="6">Human Resources</option>
                                <option value="7">Media, Publishing</option>
                                <option value="8">Logistics, Spedition</option>
                                <option value="9">Customer support</option>
                                <option value="10">Banking, Lending, Insurance</option>
                                <option value="11">Office and Business activities</option>
                                <option value="12">Marketing, Advertising, PR</option>
                                <option value="13">Energy, Water and Sewage, Utilities</option>
                                <option value="14">Telecoms</option>
                                <option value="15">Education, Courses, Translators</option>
                                <option value="16">Security</option>
                                <option value="17">Real-estate</option>
                                <option value="18">Legal</option>
                                <option value="19">Aviation, Airport & Airline</option>
                                <option value="20">Auto Service</option>
                                <option value="21">Retail, Wholesale</option>
                                <option value="22">Technical Support</option>
                                <option value="23">Research and development</option>
                                <option value="24">Accounting, Audit, Finance</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0 py-3">
                                <option selected>Location</option>
                                <option value="1">Sofia</option>
                                <option value="2">Burgas</option>
                                <option value="3">Plovdiv</option>
                                <option value="4">Varna</option>
                                <option value="5">Yambol</option>
                                <option value="6">Blagoevgrad</option>
                                <option value="7">Sliven</option>
                                <option value="8">Dimitrovgrad</option>
                                <option value="9">Ruse</option>
                                <option value="10">Elhovo</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-dark border-0 w-100 py-3">Search</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Category Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Categories</h1>
                <p>Unlock your future with the right choice.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_architecture.png" alt="Icon">
                            </div>
                            <h6>Architecture, Construction</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_health.png" alt="Icon">
                            </div>
                            <h6>Healthcare and <br>Pharmacy</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_derivers.png" alt="Icon">
                            </div>
                            <h6>Drivers, <br>Couriers</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_restaurant.png" alt="Icon">
                            </div>
                            <h6>Restaurants, Bars, Hotels, Tourism</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_engineer.png" alt="Icon">
                            </div>
                            <h6>Engineers and Technicians</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_hr.png" alt="Icon">
                            </div>
                            <h6>Human <br>Resources</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_media.png" alt="Icon">
                            </div>
                            <h6>Media, <br>Publishing</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_logistic.png" alt="Icon">
                            </div>
                            <h6>Logistics, <br>Spedition</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_customersupport.png" alt="Icon">
                            </div>
                            <h6>Customer <br>support</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_banking.png" alt="Icon">
                            </div>
                            <h6>Banking, Lending, Insurance</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_hr.png" alt="Icon">
                            </div>
                            <h6>Marketing, <br>Advertising, PR</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_office.png" alt="Icon">
                            </div>
                            <h6>Office and Business activities</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_energy.png" alt="Icon">
                            </div>
                            <h6>Energy, Water and Sewage, Utilities</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_telecoms.png" alt="Icon">
                            </div>
                            <h6>Telecommunications - engineers <br>and technicians</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_education.png" alt="Icon">
                            </div>
                            <h6>Education, Courses, Translators</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_security.png" alt="Icon">
                            </div>
                            <h6>Security</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_realestate.png" alt="Icon">
                            </div>
                            <h6>Real-estate</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_legal.png" alt="Icon">
                            </div>
                            <h6>Legal</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_airline.png" alt="Icon">
                            </div>
                            <h6>Aviation, Airport & Airline</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_autoservice.png" alt="Icon">
                            </div>
                            <h6>Auto Service</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_retail.png" alt="Icon">
                            </div>
                            <h6>Retail, <br>Wholesale</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_techsupport.png" alt="Icon">
                            </div>
                            <h6>Technical <br>Support</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_research.png" alt="Icon">
                            </div>
                            <h6>Research and development</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                        <div class="rounded p-4">
                            <div class="icon mb-3">
                                <img class="img-fluid" src="assets/images/icon_finance.png" alt="Icon">
                            </div>
                            <h6>Accounting, Audit, Finance</h6>
                            <span>123 Properties</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Category End -->

    <div class="properties section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading text-center">
                        <h6>Articles</h6>
                        <h2>Count on us for premium articles curated for your interests. </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <a href="article_revolutionizing.html"><img src="assets/images/property-01.jpg" alt=""></a>
                        <span class="category">New</span>
                        <h6>14.02.2024</h6>
                        <h4>
                            <a href="article_revolutionizing.html">
                                Revolutionizing Recruitment:
                                Leveraging Technology to Streamline the Hiring Process
                            </a>
                        </h4>
                        <ul>
                            <li>Author: <span>Ivan Petrov</span></li>
                        </ul>
                        <div class="main-button">
                            <a href="article_revolutionizing.html">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <a href="article_navigating.html"><img src="assets/images/property-03.png" alt=""></a>
                        <span class="category">New</span>
                        <h6>01.03.2024</h6>
                        <h4>
                            <a href="article_navigating.html">
                                Navigating Diversity and Inclusion in
                                Hiring: Best Practices for Building an Inclusive Workforce
                            </a>
                        </h4>
                        <ul>
                            <li>Author: <span>Maria Dimitrova</span></li>
                        </ul>
                        <div class="main-button">
                            <a href="article_navigating.html">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <a href="article_masteringart.html"><img src="assets/images/property-06.png" alt=""></a>
                        <span class="category">New</span>
                        <h6>22.04.2024</h6>
                        <h4><a href="article_masteringart.html">Mastering the Art of Candidate Sourcing: Effective Strategies for Recruitment Success</a></h4>
                        <ul>
                            <li>Author: <span>Georgi Ivanov</span></li>
                        </ul>
                        <div class="main-button">
                            <a href="article_masteringart.html">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4">
                    <div class="section-heading text-center">
                        <h6 style="color: black;">Contact Us</h6>
                        <h2 style="color: black;">Get In Touch With Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="contact-content">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-7 mx-auto">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="item phone">
                                <img src="assets/images/phone-icon.png" alt="" style="max-width: 52px;">
                                <h6>+359 2 123 4567<br><span>Phone Number</span></h6>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item email">
                                <img src="assets/images/email-icon.png" alt="" style="max-width: 52px;">
                                <h6>dtb@gmail.com<br><span>Business Email</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <!-- Added justify-content-center class here -->
                <div class="col-lg-8 text-center">
                    <!-- Added text-center class here -->
                    <p>Copyright © Dream Team Builders. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/counter.js"></script>
    <script src="assets/js/custom.js"></script>

</body>
</html>