@using DTB.Infrastructure.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<BaseUser> SignInManager
@inject UserManager<BaseUser> UserManager

<nav class="main-nav">
    <!-- ***** Logo Start ***** -->
    <a href="index.html" class="logo">
        <h1>dreamteambuilders</h1>
    </a>
    <!-- ***** Logo End ***** -->
    <!-- ***** Menu Start ***** -->
    <ul class="nav">
        <li><a href="index.html" class="active">About Us</a></li>
        <li><a href="properties.html">Articles</a></li>
        <li><a href="property-details.html">Jobs</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li>
                <a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-sign-in"></i> Sign in</a>
            </li>
            <li>
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
    <a class='menu-trigger'>
        <span>Menu</span>
    </a>
    <!-- ***** Menu End ***** -->
</nav>