<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="breadcrumb"><a href="#">Home</a> / Articles </span>
                <h3>Articles</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="section-heading text-center">
                <h6>Articles</h6>
                <h2>Count on us for premium articles curated for your interests. </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="item">
                <a href="article_revolutionizing.html"><img src="~/images/property-01.jpg" alt=""></a>
                <span class="category">New</span>
                <h6>14.02.2024</h6>
                <h4>
                    <a href="article_revolutionizing.html">
                        Revolutionizing Recruitment:
                        Leveraging Technology to Streamline the Hiring Process
                    </a>
                </h4>
                <ul>
                    <li>Author: <span>Ivan Petrov</span></li>
                </ul>
                <div class="main-button">
                    <a href="article_revolutionizing.html">View</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="item">
                <a href="article_navigating.html"><img src="~/images/property-03.png" alt=""></a>
                <span class="category">New</span>
                <h6>01.03.2024</h6>
                <h4>
                    <a href="article_navigating.html">
                        Navigating Diversity and Inclusion in
                        Hiring: Best Practices for Building an Inclusive Workforce
                    </a>
                </h4>
                <ul>
                    <li>Author: <span>Maria Dimitrova</span></li>
                </ul>
                <div class="main-button">
                    <a href="article_navigating.html">View</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="item">
                <a href="article_masteringart.html"><img src="~/images/property-06.png" alt=""></a>
                <span class="category">New</span>
                <h6>22.04.2024</h6>
                <h4><a href="article_masteringart.html">Mastering the Art of Candidate Sourcing: Effective Strategies for Recruitment Success</a></h4>
                <ul>
                    <li>Author: <span>Georgi Ivanov</span></li>
                </ul>
                <div class="main-button">
                    <a href="article_masteringart.html">View</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="article_unlocking.html"><img src="~/images/unlockingsuccess.jpg" alt=""></a>
                    <h6>19.12.2023</h6>
                    <h4>
                        <a href="article_unlocking.html">
                            Unlocking Success: The Essential Traits of
                            Top Performers in Today's Job Market
                        </a>
                    </h4>
                    <ul>
                        <li>Author: <span>Dimitar Genov</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="article_unlocking.html">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="article_NavigatingDigital.html"><img src="~/images/remoteworking.jpg" alt=""></a>
                    <h6>05.11.2023</h6>
                    <h4>
                        <a href="article_NavigatingDigital.html">
                            Navigating the Digital Talent
                            Landscape: Strategies for Hiring in a Remote-first World
                        </a>
                    </h4>
                    <ul>
                        <li>Author: <span>Milena Koleva</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="article_NavigatingDigital.html">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="article_building.html"><img src="~/images/article6.jpg" alt=""></a>
                    <h6>26.10.2023</h6>
                    <h4>
                        <a href="article_building.html">
                            Building a Diverse and Inclusive
                            Workforce: Best Practices for Recruitment and Retention
                        </a>
                    </h4>
                    <ul>
                        <li>Author: <span>Nikolai  Ivanov</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="article_building.html">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
